# Id for chat or channel for notifications
CHANNEL_ID=

# Telegram bot token
BOT_TOKEN=

# Data sources
ALERTS_URL=https://services.swpc.noaa.gov/products/alerts.json
DISCUSSION_URL=https://services.swpc.noaa.gov/text/discussion.txt

# Cron schedule
SCHEDULE="* * * * *"
